<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>IXA-Taldea Index</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"> <img src="../static/pictures/ixa-logo.png" width="30" height="30"
                class="d-inline-block align-top" alt="ixa-team logo">
            IXA-taldea</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="aplication.html">Image captioning <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">aplicacion 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">aplicacion 3</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="application">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="model1-tab" data-toggle="tab" href="#model1" role="tab"
                        aria-controls="model1" aria-selected="true">Model 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="model2-tab" data-toggle="tab" href="#model2" role="tab"
                        aria-controls="model2" aria-selected="false">Model 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="model3-tab" data-toggle="tab" href="#model3" role="tab"
                        aria-controls="model3" aria-selected="false">Model 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="compare-tab" data-toggle="tab" href="#compare" role="tab"
                        aria-controls="compare" aria-selected="false">Compare</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="model1" role="tabpanel" aria-labelledby="model1-tab">
                    <div class="formInput">
                        <h3>About the model</h3>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <form>
                            <h3>Select a picture</h3>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    <input type="radio" id="image1" name="randomPicture">
                                    <label for="image1" class="labelRandom"><img src="../static/pictures/ixa-logo.png"
                                            class="img-fluid img-thumbnail"></label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" id="image2" name="randomPicture">
                                    <label for="image2" class="labelRandom"><img src="../static/pictures/ixa-logo.png"
                                            class="img-fluid img-thumbnail"></label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" id="image3" name="randomPicture">
                                    <label for="image3" class="labelRandom"><img src="../static/pictures/ixa-logo.png"
                                            class="img-fluid img-thumbnail"></label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" id="image4" name="randomPicture">
                                    <label for="image4" class="labelRandom"><img src="../static/pictures/ixa-logo.png"
                                            class="img-fluid img-thumbnail"></label>
                                </div>
                            </div>
                            <h3>Or upload a picture</h3>
                            <hr>
                            <div class="form-group">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" name="userFile">
                                </div>
                            </div>
                            <h3>Change default values</h3>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="value1">Value 1</label>
                                        <input type="number" class="form-control" id="value1" placeholder="value1"
                                            value="1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="value2">Value 2</label>
                                        <input type="number" class="form-control" id="value2" placeholder="value2"
                                            value="2">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="value3">Value 3</label>
                                        <input type="number" class="form-control" id="value3" placeholder="value3"
                                            value="3">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="value4">Value 4</label>
                                        <input type="number" class="form-control" id="value4" placeholder="value4"
                                            value="4">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="value5">Value 5</label>
                                        <input type="number" class="form-control" id="value5" placeholder="value5"
                                            value="5">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <button type="reset" class="btn btn-danger mb-2">Reset</button>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="model2" role="tabpanel" aria-labelledby="model2-tab">...</div>
                <div class="tab-pane fade" id="model3" role="tabpanel" aria-labelledby="model3-tab">...</div>
                <div class="tab-pane fade" id="compare" role="tabpanel" aria-labelledby="compare-tab">
                    <div class="formInput"></div>
                    <h3> Compare different models</h3>
                    <hr>
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" disabled
                                placeholder="Model 1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" disabled
                                placeholder="Model 2">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" disabled
                                placeholder="Model 3">
                        </div>

                        <hr>
                        <button type="reset" class="btn btn-danger mb-2">Reset</button>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="http://ixa.si.ehu.es/"> http://ixa.si.ehu.es/</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>