<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../static/pictures/favicon.ico">

    <title>IXA-Taldea {{title}} </title>
</head>

<body>
    <!-- MENU START -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- Logo -->
        <a class="navbar-brand" href="#"> <img src="../static/pictures/ixa-logo.png" width="30" height="30"
                class="d-inline-block align-top" alt="ixa-team logo">
            IXA Taldea</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for nav in menu %}
                <!-- Active item (There is only one)-->
                    {% if nav[2] %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/{{nav[0]}}">{{nav[1]}}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/{{nav[0]}}">{{nav[1]}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    <!-- MENU END -->

    <!-- CONTENT START -->
    <div class="container">
        <!-- Show input information-->
        <div class="application">
            <h3>Input </h3>
            <hr>
            <h5>Application: {{app}}</h5>
            <h5>Models used: <br> {% for model in models %} <h6>&nbsp;&nbsp;&nbsp;&nbsp;{{model[0]}}</h6> {% if not loop.last %}{% endif %}{% endfor%}</h5>
            <h5>Allowed files: {% for allow in allowed_file %} {{allow}} {% endfor %}</h5>
            <h5>Picture: {{picture}}</h5>
            <img src="../{{picture}}" alt="your picture" class="img-thumbnail">
        </div>
        <!-- Show output information-->
        <div class="application">
            <h3>Output</h3>
            <hr>
            <!-- Output for each model-->
            {% for model in models %}
                <h5>Model name: {{model[0]}}</h5>
                {% for output in model[1] %}
                    <!-- Two cases: output is image or text-->
                    {% if output[2] == "image" %}
                        <h5>{{output[0]}}</h5>
                        <img  src="{{output[1]}}" alt="{{output[0]}}" class="img-thumbnail" width="50%" height="50%">
                    {% else %}
                        <h5>{{output[0]}}:</h5>
                        <h6>{{output[1]}}</h6>
                    {% endif %}
                    <hr>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START-->
    <footer class="page-footer font-small">
        <!-- COPYRIGHT START -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="http://ixa.si.ehu.es/"> http://ixa.si.ehu.es/</a>
        </div>
        <!-- COPYRIGHT END -->
    </footer>
    <!-- FOOTER END -->
</body>

</html>